
cache

cookie.txt
.DS_Store

data
dialnet
dwca


junk

phytotaxa

simplehtmldom_1_5/.svn

simplehtmldom_1_5/app/.svn
simplehtmldom_1_5/app/js/.svn
simplehtmldom_1_5/app/js/images/.svn

simplehtmldom_1_5/example/.svn
simplehtmldom_1_5/example/scraping/.svn

simplehtmldom_1_5/manual/.svn
simplehtmldom_1_5/manual/css/.svn
simplehtmldom_1_5/manual/img/.svn
simplehtmldom_1_5/manual/js/.svn

simplehtmldom_1_5/testcase/.svn
simplehtmldom_1_5/testcase/html/.svn
simplehtmldom_1_5/testcase/reader/.svn


working/*

!working/Acta Zoologica Bulgarica/
!working/Acta Zoologica Bulgarica/*

!working/Anartia/
!working/Anartia/*

!working/Arquivos Entomolóxicos/
!working/Arquivos Entomolóxicos/*

!working/Bauhinia/
!working/Bauhinia/*

!working/Bulletin of the National Museum Singapore/
!working/Bulletin of the National Museum Singapore/*

!working/Bonplandia/
!working/Bonplandia/*

!working/Comunicaciones zoológicas del Museo nacional de historia natural/
!working/Comunicaciones zoológicas del Museo nacional de historia natural/*

!working/Ecologica Montenegrina/
!working/Ecologica Montenegrina/*

!working/Földtani Közlöny/
!working/Földtani Közlöny/*

!working/Gayana. Botánica/
!working/Gayana. Botánica/*

!working/Geodiversitas/
!working/Geodiversitas/*


!working/Journal of Ethnobiology/
!working/Journal of Ethnobiology/*

working/Journal of Ethnobiology/.DS_Store
working/Journal of Ethnobiology/cookie.txt


!working/Historia naturalis bulgarica/
!working/Historia naturalis bulgarica/*
working/Historia naturalis bulgarica/.DS_Store
working/Historia naturalis bulgarica/cookie.txt

!working/Memórias do Instituto Butantan/
!working/Memórias do Instituto Butantan/*

!working/Victorian Naturalist/
!working/Victorian Naturalist/*

!working/tsv/*

!working/Taiwania
!working/Taiwania/*

!working/Zoological Studies
!working/Zoological Studies/*



www.biodiversitylibrary.org
