
cache

cookie.txt
.DS_Store

data
dialnet
dwca


junk

phytotaxa

simplehtmldom_1_5/.svn

simplehtmldom_1_5/app/.svn
simplehtmldom_1_5/app/js/.svn
simplehtmldom_1_5/app/js/images/.svn

simplehtmldom_1_5/example/.svn
simplehtmldom_1_5/example/scraping/.svn

simplehtmldom_1_5/manual/.svn
simplehtmldom_1_5/manual/css/.svn
simplehtmldom_1_5/manual/img/.svn
simplehtmldom_1_5/manual/js/.svn

simplehtmldom_1_5/testcase/.svn
simplehtmldom_1_5/testcase/html/.svn
simplehtmldom_1_5/testcase/reader/.svn


working/*


!working/Ecologica Montenegrina/
!working/Ecologica Montenegrina/*

!working/Journal of Ethnobiology/
!working/Journal of Ethnobiology/*

working/Journal of Ethnobiology/.DS_Store
working/Journal of Ethnobiology/cookie.txt


!working/Historia naturalis bulgarica/
!working/Historia naturalis bulgarica/*
working/Historia naturalis bulgarica/.DS_Store
working/Historia naturalis bulgarica/cookie.txt

!working/tsv/*

!working/Taiwania
!working/Taiwania/*



www.biodiversitylibrary.org
